/* Paleta de colores 
#BAD7DF celeste
#FFE2E2 rosa
#F6F6F6 gris
#99DDCC verde
*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
/*font famyly:'Space Grotesk', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:'Space Grotesk', sans-serif;
    font-size: 62.5%;
    background-color: #F6F6F6;
}

h1{
    font-size: 7rem;
}

h2{
    font-size: 3.5rem;
    color: #787878;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 3.5rem;
    color: #787878;
}

p{
    font-size: 2.5rem;
    color: #939393;
}

/* header */

header{
    background-color: #99DDCC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

header img{
    width:130px;
    border-radius: 100px;
    margin: 10px 0px 10px 10px;

}

nav{
    width: 60%;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin-right: 20px;
}

nav a{
    color: #FFE2E2;
    text-decoration: none;
    font-size: 3rem;
    text-shadow: 4px -1px 5px rgba(0,0,0,0.6);
}

/* main de index */


.banner{
    display: flex;
    background-color: #BAD7DF;
}

.TituloBanner{
    text-align: center;
    font-size: 10rem;
    color: #F6F6F6;
    text-shadow: 4px -1px 5px rgba(0,0,0,0.6);
    margin-left: 10px;
}

.TextoBanner{
    font-size: 3.5rem;
    color: #F6F6F6;
    text-shadow: 4px -1px 5px rgba(0,0,0,0.6);
    text-align: right;
    width: 100%;
    margin-right: 20px;
}

/* section index */

.SectionPresentacion{
    display: flex;
    flex-direction: row-reverse;
}

.ImgPresentacion{
    width: 30%;
}

.Presentacion{
    margin: 0 10px 0 10px;
    text-align: justify;
}

/* footer */

footer{
   display: flex;
   width: 100%;
   justify-content: right;
}

footer h3{
    color: #787878;
    text-align: right;
    margin-right: 20px;
}

.LogoInstagram{
    width: 100px;
    float: right;
    background-color: #F6F6F6;
}

.LogoFacebook{
    width: 55px;
    float: right;
    background-color: #F6F6F6;
}

/* Productos */

.TituloProductos{
    width: 100%;
    color: #FFE2E2;
    text-align: center;
    font-size: 8rem;
    text-shadow: 4px -1px 10px rgba(0,0,0,0.6);
    padding-bottom: 50px;
   
}

.ContenedorGrid img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 3px -3px 10px rgba(0,0,0,0.6);;
}

.ContenedorGrid{
   display: grid;

    grid-template-areas: 
    "LibroSensorial LibroSensorial"
    "texto1 CuboSensorial"
    "AlfombraSensorial CuboSensorial"
    "AlfombraSensorial texto2"
    "texto3 texto3";

    grid-template-columns: 40% 40%;

    grid-template-rows: 800px 400px 250px 800px 250px;
    
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px   
}

.LibroSensorial{
    grid-area: LibroSensorial;
}

.texto1{
    grid-area: texto1;
}

.AlfombraSensorial{
    grid-area: AlfombraSensorial;
}

.CuboSensorial{
    grid-area: CuboSensorial;
}

.texto2{
    grid-area: texto2;
}

.texto3{
    grid-area: texto3;
}

.ContenedorGrid p{
    text-align: justify;
    color: #939393;
}

.TextoProductos p{
    font-size: 2.5rem;
    text-align: right;
    margin-bottom: 30px;
    margin-right: 20px;
}

/* Experiencias */

.card-img-top-left{
    width: 600px;
}

.card-img-top-right{
    width: 400px;
}

.card-img-bottom-left{
    width: 600px;
}

.card-img-bottom-right{
    width: 484px;
}

/* Sobre Nosatros */

.SectionSN{
   margin: 0px 20px 0px 10px;
}

.imgSN{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: #FFE2E2;
}

.Sn1{
    width: 30%;
    height: 30%;
    border-radius: 20px;
}

.Sn2{
    width: 30%;
    height: 30%;
    border-radius: 20px;
}

.Sn3{
    width: 30%;
    height: 30%;
    border-radius: 20px;
}

/* mediaQ celulares */

@media screen and (max-width:480px) {
    h2{
        font-size: 2rem;
    }
    h4{
        font-size: 2rem;
    }
    p{
        font-size: 1.5rem;
    }
    nav ul{
        flex-direction: column;
        align-items: end;
        margin-right: 10px;
    }
    nav a{
        font-size: 1.3rem;
    }
    .TituloBanner{
        font-size: 3.5rem;
    }
    .TextoBanner{
        font-size: 1.3rem;
        margin-right: 10px;
    }
    .SectionPresentacion{
        flex-direction: column-reverse;
    }
    .ImgPresentacion{
        width: 100%;
    }
    footer h3{
        font-size: 2rem;
        margin-right: 10px;
    }
    .LogoInstagram{
        width: 20%;
    }
    .LogoFacebook{
        width: 11%;
    }

    /* prodectos */

    .TituloProductos{
        font-size: 3.5rem;
        padding-bottom: 20px;
    }

    .ContenedorGrid{
        grid-template-areas:
        "LibroSensorial" 
        "texto1" 
        "CuboSensorial"
        "texto2"
        "AlfombraSensorial"
        "texto3";

        grid-template-columns: 95%;

        grid-template-rows: 250px;    
    }

    .TextoProductos p{
        font-size: 1.7rem;
        text-align: center;
        margin: 10px 10px 10px 10px;
    }
}




  
 


















